@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --violet: #251C30;
    --magenta: #991A37;
    --bluegray: #4E7575;
    --blue: #30A4CD;
    --lightgreen: #BFFFA5;
    --white: #FFF9F5;
}

html {
    font-size: 16px;
}

body {
    background: var(--white) url("/images/bg-image.png") no-repeat right bottom;
    background-attachment: fixed;
    font-family: 'Lora', serif;
}

/* Typography */

h1 {
    font: 4.5rem 'Dancing Script', cursive;
    color: var(--white);
}

/* Hero Section */

header {
    min-height: 100vh;
    padding: 1vw;
    position: relative;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.title-background {
    transform: rotate(-5deg);
    z-index: -1;
    width: 100%;
}

#mobile-title {
    display: none;
}

.green-smudge {
    opacity: 0;
    transform: rotate(-40deg);
    z-index: -1;
}

.hero-section {
    display: grid;
    place-items: center;
    place-content: center;
    gap: 1.5vw;
}

.title {
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
}

.title > * {
    grid-area: 1 / 1 / -1 / -1;
}

.description {
    color: var(--magenta);
    line-height: 1.5;
}

/* Navigation */

.hamburger-menu {
    border: 2px solid var(--violet);
    border-radius: 50%;
    padding: 7px 5px;

    position: absolute;
    right: 1vw;
    z-index: 1;
}

.hamburger-menu:hover {
    cursor: pointer;
}

.menu-bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--magenta);
    margin: 5px;
    transition: all 0.2s ease-in-out;
}

.hamburger-menu.open .menu-bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    transition: all 0.2s ease-in-out;
    background-color: var(--violet);
}

.hamburger-menu.open .menu-bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .menu-bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    transition: all 0.2s ease-in-out;
    background-color: var(--violet);
}

nav {
    background-color: var(--lightgreen);
    height: 100%;
    width: 50%;

    position: absolute;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
    
    display: grid;
}

nav a {
    color: var(--violet);
    font: 500 1.5rem 'Poppins', serif;
    text-transform: uppercase;
    padding: 2vw 5vw;
}

nav a:hover {
    background-color: var(--magenta);
    color: var(--white);
    transition: 0.2s ease-out;
}

/* Toggle Classes */

.active {
    transform: translateX(0);
    transition: all 0.3s ease;
}

.opacity {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.shift {
    position: absolute;
    left: 5vw;
}

.disappear {
    display: none;
}

.violet {
    color: var(--violet);
}

/* ===== 1050px below ===== */

@media screen and (max-width: 1050px) {

    nav {
        width: 40%;
    }

}

/* ===== 830px below ===== */

@media screen and (max-width: 830px) {

    .header {
        display: block;
        margin: 0 auto;
        width: 90vw;
    }

    .hero-section {
        width: 90vw;
        grid-gap: 8vw;
    }

    .hamburger-menu {
        top: 3vw;
        right: 2vw;
    }

    nav {
        width: 100%;
    }

    .shift {
        display: none;
    }

    h1 {
        font-size: 15vw;
    }

    .title-background {
        width: 99vw;
    }

}

/* ===== 500px below ===== */

@media screen and (max-width: 500px) {

    #desktop-title {
        display: none;
    }

    #mobile-title {
        display: block;
        line-height: 1;
        font-size: 4rem;
        color: var(--violet);
    }

    .title-background {
        display: none;
    }

    .green-smudge {
        opacity: 1;
    }

}