:root {
    --lightgray: #EEE;
    --navyblue: #031729;
    --pink: #F8485E;
    --blue: #00C1D4;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--lightgray);
    font-family: 'Roboto', sans-serif;
}

/* Typography */

