@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --violet: #251C30;
    --magenta: #991A37;
    --bluegray: #4E7575;
    --blue: #30A4CD;
    --lightgreen: #BFFFA5;
    --white: #FFF9F5;
}

html {
    font-size: 16px;
}

body {
    background: var(--magenta) url("/images/bg-image.png") no-repeat right bottom;
    background-attachment: fixed;
    font-family: 'Lora', serif;
    padding: 2vw 4vw;
}

img {
    width: 100%;
}

/* Typography */

h1 {
    font: 4.5rem 'Dancing Script', cursive;
    color: var(--white);
    text-align: center;
}

h2 {
    font: 2.5rem 'Dancing Script', cursive;
    color: var(--white);
}

/* Navigation */

.hamburger-menu {
    border: 2px solid var(--violet);
    border-radius: 50%;
    padding: 7px 5px;

    position: fixed;
    top: 1vw;
    right: 1vw;
    z-index: 6;
}

.hamburger-menu:hover {
    cursor: pointer;
}

.menu-bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: var(--lightgreen);
    margin: 5px;
    transition: all 0.2s ease-in-out;
}

.hamburger-menu.open .menu-bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    transition: all 0.2s ease-in-out;
    background-color: var(--violet);
}

.hamburger-menu.open .menu-bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .menu-bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    transition: all 0.2s ease-in-out;
    background-color: var(--violet);
}

nav {
    background-color: var(--lightgreen);
    height: 100%;
    width: 50%;
    z-index: 3;

    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
    
    display: grid;
}

nav a {
    color: var(--violet);
    font: 500 1.5rem 'Poppins', serif;
    text-transform: uppercase;
    padding: 2vw 5vw;
}

nav a:hover {
    background-color: var(--magenta);
    color: var(--white);
    transition: 0.2s ease-out;
}

/* Toggle Classes */

.active {
    transform: translateX(0);
    transition: all 0.3s ease;
}

.opacity {
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.shift {
    position: absolute;
    left: 5vw;
}

.disappear {
    display: none;
}

.violet {
    color: var(--violet);
}

.move {
    top: 50%;
}

.magenta-bars {
    background-color: var(--violet);
}

/* ===== 1050px below ===== */

@media screen and (max-width: 1050px) {

    nav {
        width: 40%;
    }

}

/* NEW SECTION HERE */

/* ===== 830px below ===== */

@media screen and (max-width: 830px) {

    .hamburger-menu {
        top: 3vw;
        right: 2vw;
    }

    nav {
        width: 100%;
    }

    .shift {
        display: none;
    }

    h1 {
        font-size: 15vw;
    }

}

/* ===== 565px below ===== */

@media screen and (max-width: 565px) {

    h2 {
        font-size: 2rem;
    }

}